/*******************************************************************************
 * Publication and bibliography styles
 ******************************************************************************/

@use "variables" as v;

.publications {
  margin-top: 2rem;

  h1 {
    color: var(--global-theme-color);
    font-size: 2rem;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
  }

  h2 {
    margin-bottom: 1rem;

    span {
      font-size: 1.5rem;
    }
  }

  h2.bibliography {
    color: var(--global-divider-color);
    border-top: 1px solid var(--global-divider-color);
    padding-top: 1rem;
    margin-top: 2rem;
    text-align: right;
  }

  ol.bibliography {
    list-style: none;
    padding: 0;
    margin-top: 0;

    li {
      margin-bottom: 1rem;

      .preview {
        display: inline-block;
      }

      .abbr {
        margin-bottom: 0.5rem;

        abbr {
          display: inline-block;
          background-color: var(--global-theme-color);
          margin-bottom: 0.5rem;
          color: var(--global-card-bg-color) !important;

          a {
            color: white;

            &:hover {
              text-decoration: none;
            }
          }
        }

        abbr.venue-level-badge {
          min-height: 2rem;
          padding: 0.45rem 0.6rem;
          font-size: 0.95rem;
          font-weight: 700;
          line-height: 1.15;
          color: #fff !important;

          a {
            color: #fff !important;
            font-weight: 700;
          }
        }
        .scholar-below-badge {
          display: inline-flex;
          align-items: center;
          margin-top: 0.15rem;
          text-decoration: none !important;
        }
        .scholar-label {
          background: #f1f3f4;
          color: #4a4a4a !important;
          border: 1px solid #d8d8d8;
          border-right: none;
          border-radius: 3px 0 0 3px;
          padding: 1px 6px;
          font-size: 0.78rem;
          line-height: 1.2;
          i {
            color: #4285f4;
            margin-right: 4px;
          }
        }
        .scholar-count {
          background: #4285f4;
          color: #fff !important;
          border-radius: 0 3px 3px 0;
          padding: 1px 6px;
          font-size: 0.78rem;
          line-height: 1.2;
          font-weight: 700;
        }

        .award {
          color: var(--global-theme-color) !important;
          border: 1px solid var(--global-theme-color);
        }
      }

      .title {
        font-weight: bolder;
      }

      .author {
        a {
          border-bottom: 1px dashed var(--global-theme-color);

          &:hover {
            border-bottom-style: solid;
            text-decoration: none;
          }
        }

        > em {
          border-bottom: 1px solid;
          font-style: normal;
        }

        > span.more-authors {
          color: var(--global-text-color-light);
          border-bottom: 1px dashed var(--global-text-color-light);
          cursor: pointer;

          &:hover {
            color: var(--global-text-color);
            border-bottom: 1px dashed var(--global-text-color);
          }
        }
      }

      .links {
        a.btn {
          color: var(--global-text-color);
          border: 1px solid var(--global-text-color);
          padding-left: 1rem;
          padding-right: 1rem;
          padding-top: 0.25rem;
          padding-bottom: 0.25rem;
          margin-left: 0;

          &:hover {
            color: var(--global-theme-color);
            border-color: var(--global-theme-color);
          }
        }
        a.btn.btn-abs,
        a.btn.btn-bib,
        a.btn.btn-review,
        a.btn.btn-pdf,
        a.btn.btn-web,
        a.btn.btn-github,
        a.btn.btn-dataset,
        a.btn.btn-model {
          color: #fff !important;
          border: none !important;
          font-weight: 700;
          letter-spacing: 0.01em;
        }
        a.btn.btn-abs {
          background-color: #e7ad46 !important;
        }
        a.btn.btn-bib {
          background-color: #64b65f !important;
        }
        a.btn.btn-review {
          background-color: #63b668 !important;
        }
        a.btn.btn-pdf {
          background-color: #4c89c7 !important;
        }
        a.btn.btn-web,
        a.btn.btn-github,
        a.btn.btn-dataset,
        a.btn.btn-model {
          background-color: #d9534f !important;
        }
        a.award.btn {
          border-color: var(--global-highlight-color);
        }
      }

      .badges {
        padding-bottom: 0.5rem;
        .scholar-mini {
          display: inline-flex;
          align-items: center;
          text-decoration: none !important;
          margin-right: 0.4rem;
        }
        .scholar-label {
          background: #f1f3f4;
          color: #4a4a4a !important;
          border: 1px solid #d8d8d8;
          border-right: none;
          border-radius: 3px 0 0 3px;
          padding: 1px 6px;
          font-size: 0.78rem;
          line-height: 1.2;
          i {
            color: #4285f4;
            margin-right: 4px;
          }
        }
        .scholar-count {
          background: #4285f4;
          color: #fff !important;
          border-radius: 0 3px 3px 0;
          padding: 1px 6px;
          font-size: 0.78rem;
          line-height: 1.2;
          font-weight: 700;
        }
        span {
          display: inline-block;
          color: v.$black-color;
          height: 100%;
          padding-right: 0.5rem;
          vertical-align: middle;

          &:hover {
            text-decoration: underline;
          }
        }
      }

      .hidden {
        font-size: 0.875rem;
        max-height: 0px;
        overflow: hidden;
        text-align: justify;
        transition-property: 0.15s ease;
        -moz-transition: 0.15s ease;
        -ms-transition: 0.15s ease;
        -o-transition: 0.15s ease;
        transition: all 0.15s ease;

        p {
          line-height: 1.4em;
          margin: 10px;
        }

        pre {
          font-size: 1em;
          line-height: 1.4em;
          padding: 10px;
        }
      }

      .hidden.open {
        max-height: 100em;
        transition-property: 0.15s ease;
        -moz-transition: 0.15s ease;
        -ms-transition: 0.15s ease;
        -o-transition: 0.15s ease;
        transition: all 0.15s ease;
      }

      div.abstract.hidden {
        border: dashed 1px var(--global-bg-color);
      }

      div.abstract.hidden.open {
        border-color: var(--global-text-color);
      }
    }
    div.award.hidden {
      border: dashed 1px var(--global-bg-color);
    }
    div.award.hidden.open {
      border-color: var(--global-highlight-color);
    }
  }
}

.citation,
.citation-number {
  color: var(--global-theme-color);
}
